.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid rgb(236, 29, 29);
    border-top:10px solid   #1d721d;
Animation:spinAnimate 1s ease-in-out  0s infinite normal;

}
@keyframes spinAnimate{
    from{
        transform:rotate(0deg);
    }
to{
    transform:rotate(360deg);
}
}